// #login {
//   margin: 0;
//   padding: 0;
//   background: url('../../../assets/img/cma/tower.jpg');
//   background-size: cover;
// }
.log-card {
  //   position: absolute;
  //   top: 50%; 
  //   left: 85%;
  //   transform: translate(-50%, -50%);
  //   width: 350px;
  //   height: 520px;
  //   box-sizing: border-box;
  background: rgba(212, 7, 45, 0.507);
}

.caro-card {
  color: white;
  min-height: 400px;
  margin-right: 20px;
  background: rgba(7, 2, 77, 0);
}