// .wrapper {
//   margin: 0;
//   padding: 0;
//   background: url('../../../assets/img/queue/bg18.jpg'); //background: url('../../../assets/img/cma/tower.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
//   background-attachment: fixed;
// }
.content-wrapper {
  margin: 0;
  padding: 0;
  background: url('../../../assets/img/queue/bg18.jpg'); //background: url('../../../assets/img/cma/tower.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
