<!-- Company Component Starts -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10 col-sm-10 align-self-center card text-center">
      <div class="card-header py-0 my-0">
        <h1 class="py-0 my-0 white">
          <i class="icon-home"></i>
          Company </h1>
      </div>
      <div class="card-body">
        <div class="card-block px-0">
          <form [formGroup]="form" (ngSubmit)="OnSubmit()">
            <div class="form-body">
              <div>
                <div class=" row mx-2">
                  <h3 class="info">Company Info</h3>
                </div>
                <div class="row">
                  <div class="col-md-12 ">
                    <div class="form-group row align-items-center my-1">
                      <label class="col-md-3" for="CompName">Company Name</label>
                      <input type="text" class="col-md-9 form-control" formControlName="CompName" id="CompName" placeholder="Company Name">
                      <!-- <small class="form-text text-muted danger" *ngIf="!CompName.valid && (CompName.dirty || CompName.touched)">
                      <div *ngIf="CompName.errors.required">Company Name is required. </div>
                      <div *ngIf="CompName.errors.minlength">Company must be at least 5 Characters. </div>
                    </small> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row align-items-center my-1">
                      <label class="col-md-6" for="Country">Country</label>
                      <select class="col-md-6 form-control" formControlName="Country" id="Country">
                        <option value>Select your Country</option>
                        <option *ngFor="let Country of countries" [value]="Country.code">{{Country.name}} </option>
                      </select>
                      <!-- <small class="form-text text-muted danger" *ngIf="!Country.valid && (Country.dirty || Country.touched)">Please select a country!</small>-->
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row align-items-center my-1">
                      <label class="col-md-4" for="City">City</label>
                      <select class="col-md-8 form-control" formControlName="City" id="City">
                        <option value>Select your City</option>
                        <option *ngFor="let City of cities" [value]="City.name">{{City.name}} </option>
                      </select>
                      <!-- <small class="form-text text-muted danger" *ngIf="!City.valid && (City.dirty || City.touched)">Please select a city!</small>                     -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 ">
                    <div class="form-group row align-items-center my-1">
                      <label class="col-md-3" for="WorkField">WorkField</label>
                      <select class="col-md-9 form-control" formControlName="WorkField" id="WorkField">
                        <option value>Select Work field.</option>
                        <option *ngFor="let workField of workfields" [value]="workField">{{workField}} </option>
                      </select>
                      <!-- <small class="form-text text-muted danger" *ngIf="!WorkField.valid && (WorkField.dirty || WorkField.touched)">
                      <div *ngIf="WorkField.errors.required">Workfield is required. </div>
                    </small> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 ">
                    <div class="form-group row align-items-center my-1">
                      <label class="col-md-3" for="MaxPend">Max Pending Q</label>
                      <input type="text" class="col-md-9 form-control" formControlName="MaxPend" id="MaxPend" placeholder="MaxPend">
                      <!-- <small class="form-text text-muted danger" *ngIf="!CompName.valid && (CompName.dirty || CompName.touched)">
                        <div *ngIf="CompName.errors.required">Company Name is required. </div>
                        <div *ngIf="CompName.errors.minlength">Company must be at least 5 Characters. </div>
                      </small> -->
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div class="row  mx-2">
                  <h3 class="info">
                    <i class="ft-mail"></i> Contact & Bio</h3>
                </div>
                <div class="row">
                  <div class="col-md-12 ">
                    <div class="form-group row align-items-center my-1">
                      <label class="col-md-3" for="CompAddress">Company Address</label>
                      <textarea type="text" class="col-md-9 form-control" formControlName="CompAddress" id="CompAddress" placeholder="Company Address"></textarea>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row  my-1">
                      <label class="col-md-6" for="Phone">Phone</label>
                      <input type="text" class="col-md-6 form-control" formControlName="Phone" id="Phone" placeholder="Phone">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row  my-1">
                      <label class="col-md-4" for="Fax">Fax</label>
                      <input type="text" class="col-md-8 form-control" formControlName="Fax" id="Fax" placeholder="Fax">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row  my-1">
                      <label class="col-md-6" for="Mobile">Mobile</label>
                      <input type="text" class="col-md-6 form-control" formControlName="Mobile" id="Mobile" placeholder="Mobile">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 ">
                    <div class="form-group row align-items-center my-1">
                      <label class="col-md-3" for="Website">Website</label>
                      <input type="text" class="col-md-9 form-control" formControlName="Website" id="Website" placeholder="Website">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 ">
                    <div class="form-group row align-items-center my-1">
                      <label class="col-md-3" for="Email">Email</label>
                      <input type="text" class="col-md-9 form-control" formControlName="Email" id="Email" placeholder="Email">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 ">
                    <div class="form-group row align-items-center my-1">
                      <label class="col-md-3" for="Description">Description</label>
                      <textarea type="text" class="col-md-9 form-control" formControlName="Description" id="Description" placeholder="Description"></textarea>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="form-actions">
              <div class="form-group text-center">
                <button type="submit" class="btn btn-success btn-raised" [disabled]="!form.valid">
                  Next
                  <span style="margin-left:10px;">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Company Component Ends -->
